* {
  font-family: Avenir Next;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  padding: 20px;
}
img {
  padding: 20px;
  cursor: pointer;
  transition: all ease .3s;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}
.img_holder:hover img {
  transform: scale(1.1);
}
.img_holder:active h2  {
  transform: scale(1.2);
}
h2 {
  transition: all ease .4s;
  font-weight: 500;
}
.img_holder {
  display: inline-block;
}
