* {
  font-family: Avenir Next;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#cat_list {
  top: 0;
  float: left;
  height: 100%;
  width: 30%;
  background: rgba(0, 0, 0, .95);
}
#cat_list li {
  width: calc(100%-40px);
  padding: 20px;
  color: rgba(255, 255, 255, .8);
  text-align: left;
  cursor: pointer;
  transition: all ease .2s;
}
#cat_list li:hover {
  background: rgba(0, 0, 0, .7);
}
#right {
  width: 70%;
  float: right;
}
h1 {
  padding: 30px;
  width: 100%;
  background: rgba(0, 0, 0, .2);
}
#premium {
  float: right;
  margin-top: 13px;
  margin-left: 15px;
  font-size: .7rem;
  letter-spacing: .4rem;
  padding-left: 5px;
  padding-top: 2px;
  background: #bf6c07;
  color: white;
  border-radius: 5px;
  margin-right: 70px;
}
#pro {
  float: right;
  margin-top: 13px;
  margin-left: 15px;
  font-size: .7rem;
  letter-spacing: .4rem;
  padding-left: 5px;
  padding-top: 2px;
  background: #ca1643;
  color: white;
  border-radius: 5px;
}
#admin {
  float: right;
  margin-top: 13px;
  margin-left: 15px;
  font-size: 1.2rem;
  letter-spacing: .8rem;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  background: gray;
  color: black;
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 30px;
  margin-top: 30px;
}
img {
  padding: 20px;
  cursor: pointer;
  transition: all ease .3s;
  width: 23vw;
  height: 23vw;
  border-radius: 50%;
}
img:hover {
  transform: scale(1.1);
}
img:active  {
  transform: scale(1.2);
}

// CATS
#cat {
  padding: 30px;
  margin: 0 auto;
}
#cat h2 {
  padding: 30px;
  font-size: 2rem;
  font-weight: 500;
}
#cat_count {
  padding: 30px;
  font-size: 8rem;
  font-weight: 700;
}
#cat img {
  margin: 30px;
  float: left;
  margin-right: 80px;
}
